@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@106,2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Lobster&family=Roboto+Mono&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Great+Vibes&family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid-areas-layout {
  display: grid;
  grid-template-areas:
    "a a b b b k"
    "a a d d e k"
    "f f f g h h"
    "c c j i i i"
    "c c j l m m"
    "n n j l m m";
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.grid-areas-layout .a { grid-area: a; }
.grid-areas-layout .b { grid-area: b; }
.grid-areas-layout .c { grid-area: c; }
.grid-areas-layout .d { grid-area: d; }
.grid-areas-layout .e { grid-area: e; }
.grid-areas-layout .f { grid-area: f; }
.grid-areas-layout .g { grid-area: g; }
.grid-areas-layout .h { grid-area: h; }
.grid-areas-layout .i { grid-area: i; }
.grid-areas-layout .j { grid-area: j; }
.grid-areas-layout .k { grid-area: k; }
.grid-areas-layout .l { grid-area: l; }
.grid-areas-layout .m { grid-area: m; }
.grid-areas-layout .n { grid-area: n; }


.green {
  background-color: #d4edda; /* Light green */
}

.red {
  background-color: #f8d7da; /* Light red */
}

.nabla-custom {
  font-family: 'Nabla', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  font-variation-settings: "EDPT" 106, "EHLT" 2;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
